.contenido-principal-tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 30px;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
}

.contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    max-width: 300px;
}

.tarjeta-perfil {
    width: 300px;
    max-width: 300px;
    flex-direction: column;
    border: 3px solid #0047ab;
    background-color: #f4d800;
    text-align: center;
    margin-top: 70px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
    height: fit-content;
}

.imagen-usuario {
    position: absolute;
    top: -30px;
    right: 37.5%;
}

.imagen-usuario img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #0047ab;
}

.tarjeta-acudiente {
    width: 100%;
    max-width: 300px;
    border: 3px solid #0047ab;
    background-color: #f4d800;
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
    height: fit-content;
    align-self: flex-start;
}

.lista-acudidos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imagen-acudiente img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0047ab;
    flex-shrink: 0;
}

.contenido-acudiente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.contenido-acudiente input {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    font-size: 14px;
}

.boton-acudiente {
    background-color: #0047ab;
    color: white;
    border: none;
    padding: 6px 6px;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
}

.contenido-perfil {
    padding: 20px;
}

.contenido-perfil h2 {
    margin: 10px 0;
}

.boton-perfil {
    background-color: #0047ab;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}


